.chatbot {
  background: rgba(255, 255, 255, .65);
}

.chatbot-header {
  background: white;
}

.chatbot-header .bot-name {
  font-size: 1.4em;
}

.chatbot button {
  width: 100px;
  margin-left: 10px;
}

.chatbot-floater {
  display: inline-block;
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 40px;
  background: white;
}

