<div class="h-100 bg-light background-cover">
  <div class="container h-100">
    <div class="row h-100 justify-content-center align-items-center">
      <div class="h-100 py-2 py-md-5 col-md-8">
        <div class="h-100 rounded shadow-lg chatbot">
          <div class="d-flex flex-column h-100">
            <div class="p-2 rounded-top chatbot-header font-family-baloo">
              <i class="fas fa-2x fa-robot text-primary mr-2"></i>
              <span class="bot-name mr-2">Reno Bot</span>
              <small class="text-muted" *ngIf="typing | async">is typing...</small>
            </div>
            <div class="flex-fill p-3 font-family-saira overflow-auto" appAutoScroll>
              <app-chatbot-item [message]="message" *ngFor="let message of messages | async">
              </app-chatbot-item>
            </div>
            <div class="p-2 bg-white rounded-bottom font-family-baloo">
              <div class="d-flex">
                <input type="file" hidden (change)="changeUpload(fileUpload.files)" #fileUpload>
                <button class="btn btn-outline-info ml-0 mr-2" [disabled]="typing | async" (click)="openUpload(fileUpload)">Upload</button>
                <button class="btn btn-outline-info ml-0 mr-2" [disabled]="typing | async" (click)="sendMessageMenu()">
                  Menu
                </button>
                <label for="id_input"></label>
                <input #message_input id="id_input" type="text" placeholder="your message" class="form-control" [(ngModel)]="message"
                       [disabled]="typing | async"
                       (change)="sendMessage()">
                <button class="btn btn-primary" [disabled]="typing | async" (click)="sendMessage()">send
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
